.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 1000;
  width: calc(60px * 2 + 20px);
}

.actionNext {
  background-color: var(--accent);
}

.actionNext:hover {
  background-color: var(--accent-clear);
}

.actionPrevious {
  background-color: var(--secondary);
}

.actionPrevious:hover {
  background-color: var(--secondary-clear);
}
