.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: .8rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--clear-text-color);
}
