.container {
    display: flex;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #EEE;
}

.actionNext {
    color: #1AA8E9;
}

.actionLike {
    color: #309D22;
}

.actionRead {
    color: rgb(75, 75, 75);
}
