.container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 1000;
}

.actionNext, .actionPrevious {
  margin-left: 20px;
}

.actionNext {
  background-color: var(--dark-bg-color);
}

.actionNext:hover {
  background-color: var(--dark-hover-color);
}


.actionPrevious {
  background-color: #309D22;
}
