.container {
    width: 100%;
    hyphens: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.feed_readable {
    width: 100%;
    hyphens: auto;
    overflow: hidden;
    padding: 20px;
    hyphens: auto;
}

@media screen and (min-width: 900px) {
    .container {
        align-self: center;
    }

    .feed_readable {
        width: 900px;
        align-self: center;
    }
}

.feed_readable p, .feed_readable div, .feed_readable figure, .feed_readable iframe {
    width: 100%;
}

.feed_readable figure {
    margin: 0;
}

.container img {
    width: 100%;
}

.container code, .container pre {
    width: 100%;
    overflow-x: scroll;
}

.title {
    display: block;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    margin-bottom: 15px;
}

.title:hover {
    color: #3149AE;
    text-decoration: underline;
}

.url {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #47865f;
}
