:root {

  --primary: #3C3B3B;
  --primary-clear: #ffffff;
  --secondary: #b9b9b9;
  --error: #F36262;
  --accent: #46C882;

  --dark-bg-color: #114573;
  --dark-hover-color: #145288;
  --dark-text-color: #114573;
  --clear-text-color: #FFFFFF;
  --error-text-color: #F36262;

  --bp-mobile: 480px;
  --bp-medium: 980px;
  --bp-large: 1280px;
}
