:root {
  --primary: #3C3B3B;
  --primary-clear: #ffffff;
  --secondary: #b9b9b9;
  --secondary-clear: #e9e9e9;
  --error: #F36262;
  --accent: #46C882;
  --accent-clear: #68eea6;

  --bp-mobile: 480px;
  --bp-medium: 980px;
  --bp-large: 1280px;
}
