.menuContainer {
  padding-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
}

.item {
  text-decoration: none;
  /* color: var(--clear-text-color); */
  padding: 10px 20px;
  cursor: pointer;
}

.item:hover {
  /* background-color: var(--dark-hover-color); */
}
