.ghostButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  text-transform: uppercase;
  transition-delay: .05s;
}

.ghostButton:hover, .ghostButton:focus {
  background-color: var(--primary);
  color: var(--primary-clear);
}

.ghostButton path {
  fill: var(--primary);
}

.ghostButton:hover path {
  fill: var(--primary-clear);
}
