.loginForm {
  width: 100%;
  padding: 24px;
}

@media screen and (min-width: 400px) {
  .loginForm {
    width: 400px;
    align-self: center;
  }
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 24px 0;
}

.errorMessage {
  color: var(--error);
}

.errorMessageHidden {
  visibility: hidden;
}

.button {
  width: 100%;
  height: 40px;
}
