
.container {
    width: 380px;
    align-self: center;
    padding: 10px;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}

.error-container {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 10px 0;
}

.error-message {
    color: #F36262;
}

.error-message-hidden {
    visibility: hidden;
}
