.signupForm {
  width: 100%;
  padding: 24px;
}

@media screen and (min-width: 400px) {
  .signupForm {
    width: 400px;
    align-self: center;
  }
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 24px 0;
}

.errorMessage {
  color: var(--error-text-color);
}

.errorMessageHidden {
  visibility: hidden;
}
