.tabsContainer {
  width: 100%;
}

.tabs {
  width: 100%;
  display: inline-flex;
}

.tab {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 2px solid var(--secondary-clear);
  color: var(--secondary);
  cursor: pointer;
}

.tab:hover {
  color: var(--accent);
}

.selected {
  border-top-color: var(--secondary);
  color: var(--secondary);
}

.selected:hover {
  color: var(--accent);
}
