.header {
    display: flex;
    height: 55px;
    align-content: center;
    border-bottom: 1px solid var(--secondary);
    background-color: white;
}

.menuToggle {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

@media screen and (min-width: 760px) {
    .header {
        display: flex;
        align-content: center;
    }
}

.appName {
  display: flex;
  align-items: center;
}
