.container {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  margin-bottom: 15px;
}

.label {
  font-size: 1rem;
  color: var(--primary);
}

.input {
  margin: 3px 0 5px 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
  font-size: 1.1rem;
}

.input:focus {
  border-bottom-color: var(--accent);
}

.input:invalid {
  border: none;
  border-bottom: 1px solid var(--error);
}

.error {
  font-size: .8rem;
  color: var(--error);
}

.hideError {
  visibility: hidden;
}
