.layout {
  display: flex;
  flex-direction: row;
}

.header {
  position: fixed;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.headerMenuOpen {
  margin-left: 260px;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  background-color: var(--primary-clear);
  margin-left: -260px;
  border-right: 1px solid var(--secondary-clear);
}

.menuOpen {
  margin-left: 0px;
}

.content {
  width: 100%;
  flex-grow: 1;
  background-color: var(--primary-clear);
  margin-top: 60px;
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.contentMenuOpen {
  margin-left: 0;
}

@media screen and (min-width: 480px) {
  .contentMenuOpen {
    margin-left: 260px;
  }
}
