.sidenavContainer {
  flex: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgba(194, 194, 194, 0.20);
}

.sidenavOpen {
  width: 100%;
}

.sidenavClose {
  width: 0;
}

.contentOpen, .contentClose {
  margin-left: 0;
}

.content {
  transition: margin-left .5s;
}

@media screen and (min-width: 500px) {
  .sidenavOpen {
    width: 250px;
  }
  
  .sidenavClose {
    width: 0;
  }
  
  .contentOpen {
    margin-left: 250px;
  }
  
  .contentClose {
    margin-left: 0;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
}
