.sidenavContainer {
  flex: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: var(--dark-bg-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenavOpen {
  width: 100%;
}

.sidenavClose {
  width: 0;
}

.contentOpen, .contentClose {
  margin-left: 0;
}

.content {
  transition: margin-left .5s;
}

@media screen and (min-width: 500px) {
  .sidenavOpen {
    width: 250px;
  }
  
  .sidenavClose {
    width: 0;
  }
  
  .contentOpen {
    margin-left: 250px;
  }
  
  .contentClose {
    margin-left: 0;
  }
}
